* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background: #FF5959;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 19px 20px;
    height: 64px;
    border-radius: 5px;
    color: #fff;
}

/* header section  */
header {
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(../img/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* banner section  */
.banner {
    padding: 340px;
    text-align: center;
    color: #FFFFFF;
}

.banner h1 {
    font-size: 65px;
}

.banner p {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    padding-bottom: 30px;
}

/* donate section */
.section-title {
    margin-top: 100px;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 50px;

}

/* donate taka  */
.donate-tk {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 55px;
}

.tk-info {
    background: #FAFAFA;
    border-radius: 10px;
    margin: 10px;
    padding: 50px;

}

.info-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #707070;
    font-weight: bold;

}

.info-title:hover {
    color: #FF5959;
}

.tk-info-200 {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    margin: 10px;
    padding: 50px;

}

.info-title-200 {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #FF5959;
    font-weight: bold;
}

.taka-poisha {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    padding-bottom: 10px;
}

hr {
    margin: auto;
    width: 700px;
    border: 1px solid #DADADA;

}

.donate-btn {
    text-align: center;
    padding-top: 30px;
}

/* our donate plan */
.our-donate-plan {
    margin-top: 130px;
}

.section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 50px;

}

.rectangle-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.rectangle-container img {
    padding: 40px 25px;
}

.rectangle-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 16px;
}

.rectangle-description {
    font-size: 20px;
    line-height: 30px;
    color: #707070;

}

.rectangle-1 {
    border-radius: 5px;
    width: 360px;
    height: 352px;
    padding: 20px;
    background: rgba(79, 157, 166, 0.1);
}

.rectangle-2 {
    border-radius: 5px;
    width: 360px;
    height: 352px;
    padding: 20px;
    background: rgba(255, 89, 89, 0.1);
}

.rectangle-3 {
    width: 360px;
    height: 352px;
    padding: 20px;
    background: #FFF4D6;
    border-radius: 5px;
}

/* about section */
.adout {
    display: flex;
    align-items: center;
    justify-content: center
}

.about-img img {
    width: 500px;
    height: 500px;
    margin: 121px 121px;
    border-radius: 5px;
}

.about-text {
    font-size: 20px;
}

.about-title {
    font-weight: 700;
    font-size: 47px;
    line-height: 55px;
    width: 433px;
    padding-bottom: 25px;

}

.about-description {
    width: 447px;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    padding-bottom: 40px;
    color: #707070;
}

/* about section two */
.about-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.about-img-2 img {
    width: 500px;
    height: 500px;
    border-radius: 5px;
}

.about-title-2 {
    font-weight: 700;
    font-size: 53px;
    line-height: 60px;
    width: 500px;
    margin: 25px 79px;
}

.about-description-2 {
    width: 447px;
    font-weight: 400;
    font-size: 23px;
    line-height: 26px;
    margin: 35px 80px;
    color: #707070;
}

.contribute-btn {
    padding: 0 70px;
}

.move {
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin-left: 390px;
}

.back-color {
    padding: 60px 175px;
}

#email {
    width: 273px;
    height: 44px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    color: #AA9F9F;
    padding: 10px;
    border: 0;
    margin: 9px 6px;
    padding: 12px 6px;
}

.btn-warning {
    width: 157px;
    height: 67px;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    background: #FF5959;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    margin: 0px -10px;
    padding-bottom: 6px;

}

/* footer section */
footer {
    height: 200px;
    background: #0B0D17;
    margin-top: 50px;
}

.footer-title h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #FF5959;
    text-align: center;
    padding-top: 100px;
}

.footer-title p {
    color: #D9DBE1;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
}